<div class="container-fluid">
    <div id="welcometext">Our Leadership Team</div>
    <div id="team">
        <a ng-href="/teamone">
            <div class="member">
                <div class="img"><img src="/views/images/frank-jones.jpg" class="img-responsive"></div>
                <div class="id">Frank Jones - <p>General Counsel</p></div>
            </div>
        </a>
        <a ng-href="/teamtwo">
            <div class="member membertwo">
                <div class="img"><img src="/views/images/suzanna-deaton.jpg" class="img-responsive"></div>
                <div class="id">Suzanna Deaton - <p>Commitment Coordinator</p></div>
            </div>
         </a>
        <!--<a ng-href="/teamone">
            <div class="member">
                <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
                <div class="id">Jim Realestate</div>
            </div>
         </a>
        <a ng-href="/teamone">
            <div class="member">
                <div class="img"><img src="/views/images/avatar.png" class="img-responsive"></div>
                <div class="id">Jennifer Saunders</div>
            </div>-->
        </a>
    </div>
</div>


