<div id="welcometext">Frank Jones</div>
    <div class="personal">
        <div class="img"><img src="/views/images/frank-jones.jpg" class="img-responsive"></div>
        <div class="id">
            <p>FRANK STEELE JONES</p>
            <p>GENERAL COUNSEL</p>
            <p>500 Southland Drive, Suite 230</p>
            <p>Birmingham, Alabama 35226</p>
            <p>Telephone: 205-824-3838</p>
            <p>Fax: 205-776-8980</p> 
            <p>E-mail: frankj@rtandc.com</p>
            <p>   frank@fsjones.com</p>
        </div>
        <div class="bio">
            <p>Frank S. Jones serves as general counsel and owner of a title and closing operation based in Birmingham, Alabama and covering the entire state, with a focus on commercial and residential real estate title insurance and closing of the associated insured loans. He is a member of both the Florida and Alabama Bar Associations and licensed to practice in all three federal Districts in Alabama, as well as before the United States Court of Appeals for the Eleventh Circuit. Frank S. Jones is a graduate of Florida State University, as well as Florida State University, College of Law.</p> 
            <p>Frank S. Jones is 56 years old and has two children in college. He writes children's picture book stories and enjoys restoring old houses and cars as the opportunities present themselves. Frank S. Jones served as Captain in the U.S. Army from May 1982 until August 1985.</p>
        </div>
        
    </div>